body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.background-image {
  background-image: url(Images/homepage_background.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  background-color: rgba(255, 255, 255, 0.9); /* semi-transparent white */
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.error-message {
  color: #ff0000;
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
  display: none;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-control:focus {
  outline: none;
  border-color: #007bff;
}

.form-group label {
  color: #555;
  font-weight: bold;
}

#add-patient-form {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

/** survey form **/

#survey_form {
  max-width: 1000px;
  margin: auto auto; /* Center the form horizontally and add top margin */
  padding: 20px 10px; /* Adjust padding as needed */
  
  
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
